# Lab - Data Visualizations with Seaborn & Pandas

## Introduction

In this lab, you will apply your knowledge of the advanced visualization library Seaborn to generate plots that provide insight into the popular `tips` dataset.

## Objectives

You will be able to:
    
- Create a boxplot using Seaborn
- Label plots with appropriate axis labels and titles
- Create an lmplot using Seaborn
- Create a subplot using Seaborn
- Create data visualizations with Pandas

## Part I: Seaborn

We will use a randomly generated data set to practice using Seaborn. Begin by running the below code without change.

In [5]:
# CodeGrade step0
# Run this cell without changes

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# The seed must be 42 for the data to replicate
seed = 42

# Data
data = np.random.normal(size=(20, 10)) + np.arange(10) / 2

We'll being with basic visualizations with Seaborn.

### Step 1

Create a boxplot and pass in the parameter data=data. Store the object returned in the variable boxplot1.

In [ ]:
# CodeGrade step1
# Replace None with your code

boxplot1 = None

### Step 2
Repeat step 1 creating another boxplot, but now also call the boxplot object's set() method and pass in the following parameters:
* xlabel= 'X Label'
* ylabel= 'Y Label'
* title = 'Example Boxplot'

In [3]:
# CodeGrade step2
# Replace None with your code

boxplot2 = None
None

Now we'll move to changing style and content.

### Step 3

Repeat step 2, but now call Seaborn's 'set_style()' method first and pass in the string 'darkgrid'. Still include title and axis labels.

In [4]:
# CodeGrade step3
# Replace None with your code

None
boxplot3 = None
None

Now we'll move to changing style and content.

### Step 4

While the plot looks much better now, the size of the text for ticks and axis labels is so small that it would be hard for people to read it unless they're right in front of the monitor--that's a problem, if the visualizations are going to be used in something like a tech talk or presentation.

* Call Seaborn's set_context() method and pass in the string 'poster' (the default is 'notebook')
* Recreate the labeled boxplot that we made in Step 3

In [5]:
# CodeGrade step4
# Replace None with your code

None
boxplot4 = None
None

We'll now turn to the canonical Seaborn peguins dataset.

In [11]:
# CodeGrade step0
# Run this cell without changes

penguins = pd.read_csv("penguins.csv")
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### Step 5

Now use Seaborn to create a histogram of the 'body_mass_g' column with the following parameters:
*   context is set to 'talk'
*   the width of the bins is set to 100
*   color of the bars should distinguish male and female from eachother
*   the horizontal axis should be 'Body Mass (g)', the vertical axis 'Number of Penguins', and the title 'Penguin Mass Distribution by Sex'

In [7]:
# CodeGrade step5
# Replace None with your code

None
histplot1 = None
None

### Step 6

Create a scatter plot of the bill length (horizontal axis) vs. the bill depth (vertical axis) with the following parameters:

* the context set to paper
* have the points color represent the sex
* have the points shape/style represent the species
* label the horizontal axis 'Bill Length (mm)', the vertical axis 'Bill Depth (mm)', and the title 'Scatterplot of Bill Sizes of Penguins'

In [8]:
# CodeGrade Step6
# Replace None with your code

None
scatterplot1 = None
None

## Part II: Pandas

### Visualizing High Dimensional Data

Pandas also has plotting tools that help with visualizing high dimensional data, i.e., way too many columns/variables to inspect individually. Let's explore some of these features by loading in the iris flower dataset.

The iris dataset is a classic multivariate dataset, which includes the sepal length, sepal width, petal length, and petal width for hundreds of samples of three species of the iris flower.

In [16]:
# CodeGrade step0
# Run this cell without changes

iris = pd.read_csv("iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Step 7

Pandas has a plotting tool that allows us to create a scatter matrix from a DataFrame. A scatter matrix is a way of comparing each column in a DataFrame to every other column in a pairwise fashion.

The scatter matrix creates scatter plots between the different variables and histograms along the diagonals.

This allows us to quickly see some of the more obvious patterns in the dataset. Let's use it to visualize the iris DataFrame and see what insights we can gain from our data. We will use the method `pd.tools.plotting.scatter_matrix()` and pass in our iris dataset as an argument.

In [ ]:
# CodeGrade Step7
# Replace None with your code

scatter_matrix = None

### Step 8

Now repeat the previous step, but using 'pairplot' from Seaborn and letting hue be set to 'species'.

In [ ]:
# CodeGrade Step8
# Replace None with your code

pair_plot = None

You should contemplate the similarities and differences between the two visual outputs.

### Step 9

Pandas includes a plotting tool for creating parallel coordinates plots which could be a great way to visualize multivariate data.

Parallel coordinate plots are a common way of visualizing high dimensional multivariate data. Each variable in the dataset corresponds to an equally-spaced, parallel, vertical line. The values of each variable are then connected by lines between for each individual observation.

Let's create a parallel plot for the 4 predictor variables in the iris dataset and see if we can make any further judgments about the nature of data. We will use the `pd.plotting.parellel_coordinates()` function and pass in the iris dataset with the response column (species) as an argument. Let's also apply some customizations.

Color the lines by 'species' (this will allow handy inspection to see any patterns).

In [ ]:
# CodeGrade Step9
# Replace None with your code

# Use this colormap for the color argument
colormap = ('skyblue', 'salmon', 'lightgreen')

parallel_coordinates = None